*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline:none;}
a:focus,a:active{outline:none}

nav,footer,header,aside{display:block;}
html,body{
  height:100%;
  width:100%;
  font-size:100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit}

input::-ms-clear{display: none;}
button{cursor:pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:400}

/*font-family:'Noto Sans',sans-serif;*/
/*font-family:'Playfair Display',serif;*/

body{
  font-family: 'Noto Sans',sans-serif;
}
/*  Navigation  */
.container {
  width: 1170px;
  margin: 0 auto;
}
.nav {
  padding: 40px 0;
}



.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo{
  /*width: 80px;*/
  /*height: 40px;*/
  /* Elegance */
  font-family: 'Noto Sans',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;

  color: #000000;
}

a.nav__logo:hover{
  color:#F72464;
}


.nav__list {
  display: flex;
}

.nav__item {
  margin-right: 30px;
  font-size:18px;

}
.nav__item:last-child{
  margin-right:0;
}
.nav__link {
  text-decoration: none;
  color:#000;
}
.nav__link:hover{
  color:#F72464;

}

.nav__cart-link{
  position:relative;
  display:inline-block;
  padding: 5px;
  top:5px;
}
.nav__cart-number{
  position: absolute;
  top:-3px;
  right: -4px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color:#fff;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  background: #F72464;
  text-align:center;

}
/*  Header  */
.header {
}


.header__row {
  position: relative;
  display:flex;
  justify-content:flex-end;
}

.header__content {
  position:absolute;
  width: 670px;
  top:50%;
  left:0;
  transform: translateY(-50%);


}
.header__title {
  margin:0;
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 72px;
  line-height: 96px;
  color: #000000;
}

.header__text {
  margin-bottom: 60px;
  font-size: 22px;
  line-height: 1.5;
}

.header__btn {

}

.button {
  display:inline-block;
  padding: 0 33px;
  height: 51px;
  background: #F72464;
  box-shadow: 0px 4px 15px rgba(123, 12, 46, 0.35);
  border-radius: 4px;

  font-family: 'Playfair Display',serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 51px;

  text-align: center;
  text-decoration: none;
  color: #FFFFFF;

  transition: box-shadow 0.2s ease-in;

}
.button:hover{
  box-shadow: 0px 4px 25px rgba(213, 35, 78, 0.35);
  background: #fd0b51;
}

.header__photo {

}

/* Featured Products   */
.featured-section {
  padding-top:60px;
  padding-bottom: 70px;
}

/* Section header */



.container {
}

.none{
  display:none;
}


.section-header {
  margin-bottom: 40px;
}

.section-header__title {
  margin:0;
  margin-bottom: 10px;
  font-family: 'Playfair Display',serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 56px;

  text-align: center;

  color: #000000;
}
img{
  margin-bottom: -2px;
}


.section-header__description {
  margin-top:0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #999999;
}

/* Product */

.products-wrapper{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
  padding: 10px;
}

.product-link{
  text-decoration: none;
  display:inline-block;
  transition: opacity 0.2s ease-in;
}

.product-link:hover{
  opacity: 0.8;
}

.product {
  text-align: center;
  max-width: 270px;

}

.product__img {
  display:block;
  margin-bottom: 12px;
}

.product__title {
  font-family: 'Playfair Display',serif;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #000000;

}

.product__price {
  text-align: center;
  font-size: 14px;
  line-height: 19px;

  text-transform: uppercase;
}

.product__price-old {
  margin-right:10px;
  color: #999999;
}
.product__price-new{
  font-weight: 700;
  color: #F72464;
}

/* Section */
.section-button-wrapper {
  text-align: center;
}

/* Button outline */

.button-outline {
  display:inline-block;
  padding: 21px 39px 23px;
  background: #FFFFFF;
  border: 1px solid #F72464;
  border-radius: 4px;

  font-family: 'Playfair Display',serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  color: #777777;
  transition:background-color 0.2s ease-in, color 0.2s ease-in;
}

.button-outline:hover{
  background: #F72464;
  color:#fff;
}


.bg-1{
  width:100%;
  height: 100%;
  margin:40px auto -20px;
}

/* Blog */

.blog-section{
  padding-top:70px;
  padding-bottom: 45px;
}

/* Posts */

.posts-wrapper {
  margin-bottom: 75px;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  row-gap:40px;
}

.post {
  max-width: 570px;
  display:flex;
  justify-content: space-between;
  flex-grow: 1;
}

.post__content {
  max-width: 370px;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.post__title {
  margin-bottom: 36px;
  font-family: 'Playfair Display',serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  /*line-height: 27px;*/
  color: #000000;
}

.post__text {
  margin:0 0 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #777777;
}

.port__read-more {
  font-family: 'Playfair Display',serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.port__read-more:hover{
  text-decoration: underline;

}

.subscribe-section{

}

.section-header__description{
  margin-left:auto;
  margin-right:auto;
  max-width: 630px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  text-transform: inherit;
  color:#999999;
}
.section-header__description--uppercase{
  text-transform:uppercase ;
}
.section-header__description--16px{
  font-size:16px ;
}
.section-header__description p {
  margin-top: 0;
}
.subscribe-form {
  display:flex;
  justify-content: center;

}

.subscribe-form__input {
  padding-left:10px;
  padding-right:10px;
  background: #ffffff;
  border:1px solid #F72464;
  box-sizing: border-box;
  border-radius:4px;
  height: 42px;
  width: 230px;

  font-family: 'Noto Sans',serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color:#000000;
}

.subscribe-form__input::placeholder{
  color:#999999;
}

.subscribe-form__button{
  margin-left: 10px;
  display: inline-block;
  padding: 9px 30px 11px;
  height: 42px;
  left: 767px;
  top: 4216px;
  background: #F72464;
  border-radius: 4px;

  font-family: 'Noto Sans',serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #FFFFFF;
  cursor:pointer;
  transition:box-shadow 0.2s ease-in,background-color 0.2s ease-in;
}

.subscribe-form__button:hover{
   box-shadow: 0 2px 15px rgba(184,13,64,0.671);
  background-color:#ff3874;

}

.footer {
  padding:30px 0;
  background-color:#000000 ;
  color:#ffff;
}

.footer a{
  color:#fff;
}

.footer__column{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.footer__nav {
  margin-bottom: 25px;

  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;

}
.footer__nav a{
  text-decoration: none;
  transition: opacity 0.2s ease-in;
}

.footer__nav > a + a{
  margin-left:30px;
}
.footer__nav a:hover{
  opacity: 0.8;
}

.footer__socials {
  margin-bottom: 25px;
  display:flex;
  align-items:center;
}

.footer__socials-link {
  text-decoration: none;

}
.footer__socials-link + .footer__socials-link {
  margin-left:31px;
}

.footer__socials-icon {

}
.footer__socials-icon path{
  transition: fill 0.2s ease-in;
}
.footer__socials-icon:hover path{
  fill: #bd09ef;
}

.footer__copyright {
  font-size: 14px;
  text-align: center;
  color: #999999;
  transition: color 0.2s ease-in;
}
.footer__copyright:hover {
  color:#bd09ef;
}




